{% extends "base.html" %}
{% load static %}

{% block content %}
<h1>Bienvenue !</h1>
<div class="card text-white bg-primary mb-3" style="max-width: 20rem;">
  <div class="card-header">Header</div>
  <div class="card-body">
    <h4 class="card-title">プライマリーカードのタイトル</h4>
    <p class="card-text">カードタイトルをベースに、カード内容の大部分を構成する簡単な例文をいくつか紹介します。
    </p>
  </div>
</div>

<div class="d-flex">
  <textarea id="inText" cols="40"></textarea>
  <button type="button" class="btn btn-primary" onclick="sendText()">Analyser !</button>
</div>
<div id="outText"></div>

{% endblock %}

{% block javascript %}
<script src="{% static 'scripts/home.js' %}"></script>
{% endblock %}
